@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Poppins:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    background-image: url(bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
}
.logo{
    width: 10%;
}
.nav{
    border-radius: 25px;
    font-size: 10px;
    color: rgba(128, 128, 128, 0.658);
    padding: 10px;
    width: 130px;
    background-color: #fff;
    border-style: none;
    font-family: "Open Sans";
}
.nav:hover{
    cursor: pointer;
    transition: 0.4s;
    color: pink;
}
section{
    padding: 70px 10%;
}
.box1{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
    background-image: url(bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    margin-bottom: 100px;
}
.box1image img{
max-width: 100%;
width: 600px;
height: auto;
}
.box1-text{
   max-width: 70%;
}
.box1-text h2{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}
.box1-text p{
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 20px;
}
.btn1{
    display: inline-block;
    padding: 10px 20px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 25px;
    border-style: none;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 10px;
    width: 150px;
}
.btn1:hover{
    cursor: pointer;
    transition: 0.4s;
    background-color: hsla(322, 100%, 66%, 0.801);
}
.box2{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
.box2image img{
    max-width: 100%;
    width: 450px;
    height: auto;
}
.box2-text{
    max-width: 60%;
 }
.box2-text h4{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.box2-text p{
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.425); 
    font-weight: bold;   
}
.box3{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
.box3image img{
    max-width: 100%;
    width: 450px;
    height: auto;
}
.box3-text{
    max-width: 70%;
 }
 .box3-text h4{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.box3-text p{
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.425); 
    font-weight: bold;   
}
.box4{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.15);
}
.box4image img{
    max-width: 100%;
    width: 450px;
    height: auto;
}
.box4-text{
    max-width: 70%;
 }
 .box4-text h4{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.box4-text p{
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.425); 
    font-weight: bold;   
}
.box5{
    
    padding: 70px 0;
    text-align: center;
    width: 55%;
    margin: 100px auto;
    border-radius: 10px;    
    font-size: 18px;    
    font-family: "Poppins";    
    position: relative;
    top: 80;
    margin-bottom: -50px; 
    background-color: white;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.15);   
}
.box5 h5{
    color: black;
    font-size: 2rem;
    margin-bottom: 30px;
}
.btn2{
    background-color: hsla(322, 100%, 66%, 0.74);
    color: rgba(255, 255, 255, 0.781);
    padding: 15px;
    border-radius: 25px;
    border-style: none;
    width: 200px; 
    margin-top: 20px; 
    font-family: "Open Sans";
}
.logo2{
    height: 12px;
    width: 75px;
    filter: brightness(0) invert(1);
    font-weight: bold;
}
.icon{
    height: 6px;
    width: 7px;
}
.icon{
    height: 6px;
    width: 7px;
}
.note{
    font-size: 8px;
    color: #fff;
}
.footer1{
    font-size: 10px;
    width: 250px;
    padding: 5px;
}
footer{
    background-color: hsl(192, 100%, 9%);
    color: rgba(255, 255, 255, 0.384);
    display: flex;
    justify-content: space-between;
    height: 250px;
    align-items: center;
}

a{
    color: rgba(255, 255, 255, 0.384);
    font-size: 8px;
    display: block;
    padding: 5px;
    font-family: "Open Sans";
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.fa-brands{
    color: white;
    font-size: 8px;
    margin-right: 1em;
    border: 1px solid white;
    border-radius: 100%;
    padding: 8px;
}
.fa-brands.fa-twitter{
    color: purple;
}
.fa-solid{
    height: 2px;
    width: 2px;
}
.socialicons{
    margin-bottom: 100px;
    padding-right: 20px;
}
@media (max-width: 1440px) {
    header{
        padding: 15px 40px;
    }
    section{
        padding: 50px 8%;
    }
    }
    @media screen and (max-width:375px) {
    .logo {
        width: 30%;
    }
    header{
        background-image: url(bg-hero-mobile.svg);
    }
    .nav{
            border-radius: 25px;
            font-size: 8px;
            color: rgba(128, 128, 128, 0.658);
            padding: 8px;
            width: 100px;
            background-color: #fff;
            border-style: none;
            font-family: "Open Sans";
        }
        .box1{
            grid-template-columns: 1fr;
            text-align: center;
            background-image: url(bg-hero-mobile.svg);
           
        }
        .box2{
            grid-template-columns: 1fr;
            text-align: center;
        }
        .box1image{
            order: 2;
        }
        section{
            padding: 100pxpx 7%;
        }.box3{
            grid-template-columns: 1fr;
            text-align: center;
        }
        .box4{
            grid-template-columns: 1fr;
            text-align: center;
        }
        .box5{
    
            padding: 40px 0;
            text-align: center;
            width: 60%;
            margin: 100px auto;
            border-radius: 10px;    
            font-size: 12px;    
            font-family: "Poppins";    
            position: relative;
            top: 80;
            margin-bottom: -50px; 
            background-color: white;
            box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.15);   
        }
        .box5 h5{
            color: black;
            font-size: 1rem;
            margin-bottom: 10px;
        }
        .btn2{
            background-color: hsla(322, 100%, 66%, 0.74);
            color: rgba(255, 255, 255, 0.781);
            padding: 10px;
            border-radius: 25px;
            border-style: none;
            width: 150px; 
            margin-top: 10px; 
            font-family: "Open Sans";
        }
        footer{
            background-color: hsl(192, 100%, 9%);
            color: rgba(255, 255, 255, 0.384);
            height: 400px;
            display: flex;
            flex-direction: column;
            padding-top: 70px;
            text-align: center;
        }
        .socialicons{
            margin-bottom:40px;
            padding-right: 20px;
        }
    }

        
    
        
    
